@use 'variables' as *;

/* About, Contact and 404 styles grouped to keep small footprint */
.about-content {
  max-width: 600px;
  margin: 1.5rem;
  color: $foreground;
  font-size: 1rem;
  line-height: 1.2;
  text-align: left;
  white-space: pre-line;
  padding: 0 1rem
}

.about-end {
  color: $comment;
  white-space: nowrap;
  overflow-wrap: anywhere;
}

@media (max-width: 480px) {
  .about-end {
    white-space: normal;
    padding-bottom: 3rem;
  }
}

.blog-content-start {
  color: $comment;
  margin-bottom: 1rem;
  text-align: left
}

.blog-content {
  max-width: 600px;
  margin: 1.5rem;
  color: $foreground
}

.contact-content {
  max-width: 600px;
  margin: 1.5rem;
  color: $foreground;
  font-size: 1rem;
  text-align: left;
  padding: 0 1rem
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-row {
  margin-bottom: 0.8rem
}

.contact-end {
  color: $comment
}

.not-found-heading {
  font-size: 2rem;
  color: $purple
}

.not-found-kaomoji {
  color: $comment;
  font-style: normal;
  padding-left: 0.5rem
}

.not-found-message {
  margin-top: 1rem;
  line-height: 1.4rem
}

.not-found-container {
  max-width: 600px;
  margin: 1.5rem;
  color: $foreground;
  text-align: left;
  padding: 2rem
}

.not-found-end {
  color: $comment;
  margin-bottom: 1rem
}