---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About"
  url="/about"
  description="Learn more about Sun Envidiado."
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
    euismod, nisi eu consectetur.
  </p>
  <a href="/">Back to Home</a>
</BaseLayout>
