---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact | Sun Envidiado's Website">
  <div class="vim-title">Contact</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
    euismod, nisi eu consectetur.
  </p>
  <a href="/">Back to Home</a>
</BaseLayout>
